[core]
	autocrlf = input
[user]
	name = <username>
	email = <email>
[push]
	autoSetupRemote = true
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
